
<div class="wrapper">
  <h2>Registration</h2>
  <form [formGroup]="userForm" class="w-full" (ngSubmit)="onSubmit()" novalidate>
    <div class="input-box">
      <input type="text" placeholder="Enter your name" formControlName="name" required>
    </div>
    <div class="input-box">
      <input type="email" placeholder="Enter your email" formControlName="email" required>
    </div>
    <div class="input-box">
      <input type="text" placeholder="Enter your gender" formControlName="gender" required>
    </div>
    
    <div class="policy">
      <input type="checkbox" formControlName="acceptTerms">
      <h3>I accept all terms & condition</h3>
    </div>
    <div class="input-box button">
      <input type="submit" value="Register Now">
    </div>
    <div class="text">
      <h3>No tienes cuenta aún? <a href="#">Regístrate aquí</a></h3>
    </div>
  </form>
</div>
